.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: #61dafb;
}

h1, h2{
  margin: 10px;
}

hr{
  border-color: #D3D3D3;
  width: 80%;
}